// BLUEPRINT

$blueprint-grid-columns: 24;
$blueprint-container-size: 1152px;
$blueprint-grid-margin: 10px;
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;


// FONTS

$base-font-size: 13px; 
$base-line-height: 24px; 


// COLORS

$background     : #e8ecf2;
$background2    : #f0eddf;

$lightgray      : #eeeff0;
$gray           : #e3e4e5;
$mediumgray     : #a5a6a6;
$darkgray       : #8b8c8c;
$darkergray     : #727373;
$bordergray     : #bbbbbb;

$blue           : #008cd9;
$lightblue      : #009df2;
$lighterblue    : #daeaf2;

$yellow         : #faf4a5;
$lightyellow    : #fdf8b9;
$darkcream      : #cccbbe;

$green          : #a5e188;
$red            : #ff776b;
$flashred 		  : #f7897a;
$flashgreen     : #30a618;
$medgreen       : #85d475;

$flaggreen      : #53e200;
$flagyellow     : #fcef08;
$flaggray       : #c8c8c8;