// BLUEPRINT

$blueprint-grid-columns: 24;
$blueprint-container-size: 1152px;
$blueprint-grid-margin: 10px;
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;


// FONTS

$base-font-size: 13px; 
$base-line-height: 24px; 


// COLORS

$background     : #e9eaf0;

$lightblue      : #0083cb;
$darkcream      : #cccbbe;
$lightyellow    : #fff5ba;

$bordergray     : #777777;
$blue           : #0066cc;
$green          : #a5e188;
$yellow         : #f3f7a1;
$lightgray      : #e1e1e1;
$red            : #ff776b;
$flashred 		  : #f7897a;
$flashgreen     : #30a618;
$medgreen       : #85d475;

$flaggreen      : #53e200;
$flagyellow     : #fcef08;
$flaggray       : #c8c8c8;