table.no-bottom-margin{ margin-bottom: 0;}
table.small-bottom-margin{ margin-bottom: 5px;}
table.gray-background{ 
  th{ background-color: $gray !important; }
  td{ background-color: $gray !important; }
}
h3.adjust{ margin-bottom: -8px; }
th{ background-color: white !important; font-size: 12px; font-style: italic; font-weight: normal !important; }
ul.horizontal-list{ @include horizontal-list; vertical-align: middle; }
ul.no-bullets{ @include no-bullets; }
input{ @include border-radius(5px); font-size: 14px; margin-right: 10px; border: 1px solid $bordergray;}
select{ font-size: 13px; margin: 0 10px 0 1px; }
input[type='submit']{ background-color: gray; color: white !important; border: solid 1px gray; padding: 5px 7px 5px 7px; margin: 10px 10px 10px 0; }
form div { margin: 10px 10px 10px 0; }

.clear-both{ clear: both; }
.right{ text-align: right; }
.center{ text-align: center; }
.hidden{ display: none;}
.italic{ font-style: italic; }
.bold{ font-weight: bold; }
.nobold{ font-weight: normal; }
.smaller{ font-size: .65em;}
.medium{ font-size: 1.1em; line-height: 1.5em; margin-bottom: 0; }
.large{ font-size: 1.2em; line-height: 1.75em !important; margin-bottom: 0; }
.larger{ font-size: 1.4em; }
.alert{ color: #bf1300; font-size: 1.2em; font-weight: normal; margin-bottom: 1em; background-color: none; border: none; }
.notice{ @include border-radius(10px); font-size: 1.1em; font-weight: normal; margin-bottom: 1em; background-color: $medgreen; border-color: $medgreen; color: white; }
.heart{ margin: 0 0 -1px 4px; }
.favorited{ background-color: $lightyellow; }
.static-map-image{ @include border-radius(7px); border: solid 1px $bordergray; margin: 0 0 20px 0;}
.align-top{ vertical-align: top;}
.transportation-icon{ margin: 0 7px -10px 0 !important; }
.gray-background{ background-color: $gray; padding: 1px 5px 0 5px; }
.green-background{ background-color: $green; @include border-radius(7px); }
.yellow-background{ background-color: $yellow !important; @include border-radius(7px); }
.lightbox-button{ margin-top: 30px; }
#favorite_text_button{ margin-top: 30px; }
.favorites_button_text{ padding-left: 4px; }
.notes{ padding: 10px; margin-bottom: 20px; background-color: $lighterblue;}
.rounded-corners{ @include border-radius(7px); }
.star-icon{ margin-bottom: -3px;}
.hidden_gem{ position: absolute; display: none; }
.external_link{ margin-left: 3px; }
#download_links{ margin-top: 30px; }
#footnotes{ margin-top: 30px; }

.favorite_number_column{ font-size: 2em; text-align: center; width: 30px; }
.small_image_column{ width: 95px; }
.medium_image_column{ width: 120px;}
.title_column{ width: 240px;}
.eligibility_column{ width: 160px;}
.view_button_column{ width: 55px;}
.favorite_button_column{ width: 30px;}