%td.tabbable.admissions.hidden.large{:width=>'70px'}
  &nbsp;
%td.tabbable.admissions.hidden.large{:width=>'70px'}
  &nbsp;
%td.tabbable.admissions.hidden.large{:width=>'70px'}
  &nbsp;
%td.tabbable.admissions.hidden.large{:width=>'70px'}
  &nbsp;
%td.tabbable.admissions.hidden.large{:width=>'70px'}
  &nbsp;