@import "compass";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "partials/base";
@import "partials/errors";
@import "blueprint";
@import "blueprint/reset";
@import "blueprint/scaffolding";

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  @include establish-baseline;
  @include font-face("GothamBook", font-files("Gotham-Book.otf", opentype));
  @include font-face("GothamMedium", font-files("Gotham-Medium.otf", opentype));
  
  font-size: $base-font-size;
  font-family: 'Gotham';
  text-align: left;
  
  a{ color: $blue; text-decoration: none; }
  a:hover{ color: $blue; text-decoration: underline; }
  a:active{ color: $blue; text-decoration: underline; }
  a.visited{ color: $blue; text-decoration: none; }
  a.visited:hover{ color: $blue; text-decoration: underline; }
  
  a.nav{ color: $blue; font-weight: bold; }
  .active{ background-color: white; }
  .main{ font-size: 1.2em; padding: 5px 0 3px 0; }
  .mid{ font-size: 1em; padding: 5px 0 3px 0; }
  .sub{ font-size: 1em; padding: 5px 8px 3px 8px; }
  
  a.hide {
  display: block;
  text-indent: -5000px;
  width: 16px;
  height: 16px;
  background-image: url(icons/hide.png);
  background-repeat: no-repeat;
  }
  
  a.hide{background-position: 0 0;}
  a.hide:active {background-position: 0 0;}
  a.hide:hover {background-position: 0 -16px;}
  
  h1{ font-weight: bold; font-size: 2.7em; color: #333; margin: 33px 0 0 0; }
  h2{ font-family: 'Gotham'; font-size: 1.5em; color: #333; margin-bottom: 0.1em;}
  h3{ font-weight: bold; font-size: 1.25em; margin-bottom: 0.5em; color: #333; }
  h4{ font-weight: bold; font-size: 1.3em; margin-bottom: 0; color: #333; }

  ul.horizontal-list{ @include horizontal-list; vertical-align: middle; }
  input{ @include border-radius(5px); font-size: 14px; margin-right: 10px; border: 1px solid $bordergray;}
  select{ font-size: 13px; margin: 0 10px 0 1px; }
  input[type='submit']{ background-color: gray; color: white !important; border: solid 1px gray; padding: 5px 7px 5px 7px; }
  
  .clear-both{ clear: both; }
  .right{ text-align: right; }
  .hidden{ display: none;}
  .italic{ font-style: italic; }
  .bold{ font-weight: bold; }
  .nobold{ font-weight: normal; }
  .large{ font-size: 1.2em; line-height: 1.75em; margin-bottom: 0; }
  .alert{ color: #bf1300; font-size: 1.2em; font-weight: normal; margin-bottom: 1em; background-color: none; border: none; }
  .notice{ @include border-radius(10px); font-size: 1.1em; font-weight: normal; margin-bottom: 1em; background-color: $medgreen; border-color: $medgreen; color: white; }
  .gray-box{ @include border-radius(10px); background-color: #ddd; padding: 10px; margin-bottom: 30px; color: white; table{ margin-bottom: 0; }}
  .heart{ margin: 0 0 -1px 4px; }
  .favorited{ background-color: #ffffcc; }
    
  #header{ margin-bottom: 20px; padding-bottom: 10px; border-bottom: solid 1px #ccc;
    #inner-header{ @include container; padding: 20px 0 20px 0;}
  }
  #container{ @include container; margin-top: 20px; margin-bottom: 25px; font-family: 'Gotham'; }
  #page{ 
    .full-width{ @include column(24, true); padding-bottom: 20px; clear: both; }
    #left-column{ @include column(5, true); padding-bottom: 20px; 
      select{ margin-bottom: 10px; }
      #left-column-nav{ font-weight: bold; margin-bottom: 20px;}
    }
    #right-column{ @include column(19, true); background-color: white; margin: 0 0 20px 0;
      #table-nav{ width: 100%; margin-bottom: 20px; text-align: right; }
      #hidden-schools{ margin-top: 20px; }
      table.listings{
        thead{ padding: 0 15px 0 15px; margin-bottom: 5px; }
        th{ background-color: white !important; font-size: 12px; font-style: italic; font-weight: normal; padding: 5px 0 10px 10px; border-bottom: solid 1px #ccc; }
        td{ padding: 10px 0 10px 10px; border-bottom: 1px solid #ccc; }
        td.hide-button{vertical-align: top;}
      }
    }
    .bottom-border{ padding-bottom: 20px; border-bottom: solid 1px #aaa; }
    #small-map{ padding: 20px 0 20px 0; 
      .static-map-image{ @include border-radius(7px); }
    }
    
    #map_container {
      padding-left: 20px;
      #gmaps4rails_map { @include border-radius(7px); width: 100%; height: 550px; }
      .balloon{ border: solid 1px $bordergray; height: 300px; width: 300px; } 
    }
    
    #map-list{
      #options{
        height: 475px;
        margin: 15px 0 15px 0;
        overflow: scroll;
        ul#markers_list{ 
          padding-left: 15px;
          li{ padding-bottom: 7px; font-weight: bold; }
        }
      }
    }
        
    #search-form{
      width: 450px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 15px; 
      .address{ width: 250px; }
      .zipcode{ width: 80px; }
    }    
  }
  
  #footer{ 
    #inner-footer{
      @include container;
      color: white; 
      text-align: left; 
      padding: 0 0 20px 40px;  
    }
  }
}