@import "compass";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";

// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
@import "partials/errors";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  font-size: 14px;
  background-color: #f9f9f9;
  text-align: left;
  
  h1{ font-weight: bold; font-size: 2.7em; color: #333; margin: 33px 0 0 0; }
  h2{ font-weight: bold; font-size: 1.8em; color: #333; }
  h3{ font-weight: bold; font-size: 1.35em; margin-bottom: 0.5em; color: #333; }
  h4{ font-weight: bold; font-size: 1.25em; margin-bottom: 0.5em; color: #333; }

  ul.horizontal-list{ @include horizontal-list; vertical-align: middle; }
  .italic{ font-style: italic; }
  .nobold{ font-weight: normal; }
  
  #header{ @include container; margin-top: 5px; margin-bottom: 10px;}
  
  #container{ @include container; @include single-box-shadow; margin-top: 20px; background-color: white; }
  
  #map_container { 
    padding: 6px; width: 938px; 
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px; 
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px; 
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px; 
  }
  
  #gmaps4rails_map { width: 100%; height: 400px; }
  
  #search-form{ 
    background-color: #777; margin: 0 0 25px 0; padding: 18px; color: white; font-size: 16px; 
    input{ font-size: 15px; margin-right: 10px; border: 1px solid #666;}
    select{ font-size: 15px; margin-right: 10px;}
  }
  #page{ padding: 0 20px 20px 20px;
    .school-listing{ 
      background-color: $yellow;
      padding: 10px 15px 10px 10px;
      margin-bottom: 20px;
      table{ margin-bottom: 0;}
    }
    .other-school-listing{ padding: 0 0 10px 16px; }
  }
  #footer{ 
    font-family: georgia;
    background-color: #777;
    color: white; text-align: center; padding: 18px 0 18px 0;  }
}