@import "blueprint";
@import "blueprint/reset";
@import "blueprint/scaffolding";
@import "compass";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "partials/base";
@import "partials/buttons";
@import "partials/errors";
@import "partials/general";

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  @include establish-baseline;
  font-size: $base-font-size;
  font-family: 'Gotham', 'Helvetica', 'Verdana';
  text-align: left;
  line-height: 150% !important;
  height: 100%;
  background-image: url(/images/canvas.png);
  background-attachment:fixed;
  
  h1{ font-size: 2.3em; margin-bottom: 0.7em; }
  h2{ font-size: 1.6em; margin-bottom: 0.8em;}
  h3{ font-size: 1.4em; margin-bottom: 0.7em; }
  h4{ font-size: 1.3em; margin-bottom: 0.6em; }
    
  #container{ @include container; }
  #header{ margin: 10px 0 0 25px; }
  #breadcrumbs{ float: right; margin-right: 200px; padding: 10px; @include box-shadow; @include border-radius(10px); background-color: white; font-size: 16px; font-weight: bold;}
  #screen{
    margin-top: 20px; 
    .full-width{ @include column(24, true); padding: 20px; clear: both; }
    #table-nav{ text-align: right; clear: bottom; margin: -31px 220px 10px 0; }
    #logo{ padding: 0 0 17px 25px; }
    #page{ 
      @include box-shadow; 
      @include border-radius(10px);
      background-color: white;
      padding: 30px 25px;
      margin-bottom: 30px;
      table.listings{
        thead{ padding: 0 15px 0 15px; margin-bottom: 5px; }
        th{ cursor: pointer; font-size: 12px; font-style: italic; font-weight: normal; background-color: white !important; padding: 5px 0 10px 10px; border-bottom: dashed 1px $bordergray; }
        td{ padding: 10px; border-bottom: dashed 1px $bordergray; }
      }
    }
    #page-footer{ @include column(20, true); text-align: center; margin-bottom: 40px; }
    #center-column{ position: absolute; @include column(23, true);}
    #left-column{ 
      position: absolute;
      @include column(20, true);
    }
    
    #sidebar{
      position: absolute;
      top: 129px;
      width: 200px;
      margin-top: 40px;
      margin-left: 958px;
      #nav{
        @include box-shadow; 
        @include border-radius(0 10px 10px 0);
        background-color: $gray; 
        @include linear-gradient(color-stops($lightgray, $gray));
        padding: 17px 20px 15px 25px;
        margin-bottom: 30px;
      }
      #mypicks{
        @include box-shadow; 
        @include border-radius(0 10px 10px 0);
        background-color: $yellow; 
        @include linear-gradient(color-stops($lightyellow, $yellow));
        padding: 20px 20px 25px 25px;
      }
    }
    
    #map{
      #map-list{ 
        @include column(5);
        height: 476px;
        margin: 15px 0 15px 0;
        overflow: scroll;
        ul#markers_list{ 
          padding-left: 15px;
          li{ padding-bottom: 7px; font-weight: bold; }
        }
      } 
      #map_container{
        @include column(14, true);
        #gmaps4rails_map { @include border-radius(7px); border: solid 1px $bordergray; width: 640px; height: 490px; }
        .balloon{ border: solid 1px $bordergray; height: 300px; width: 300px; } 
      }
    }
        
    #search-form{
      @include column(10);
      @include border-radius(10px);
      clear: both;
      margin-bottom: 30px;
      padding: 30px 30px 0 30px;
      font-size: 15px; 
      background-color: $gray;
      .address{ width: 250px; }
      .zipcode{ width: 80px; }
      table.search{ width: 450px !important; }
    }    
  }
  
  
  #footer{ 
    background-color: $darkcream;
    #inner-footer{
      @include container;
      color: white; 
      text-align: left; 
      padding: 0 0 20px 40px;  
    }
  }
}