#page
  %h2 Welcome to the School Discovery App
  %p.large To get started, please enter your home address and your child's upcoming grade level in the search form, below.
  
  = render :partial => 'pages/search_form'