#page
  %h2 Welcome to the School Discovery App
  %p.large To find your eligible schools, please enter your home address and your child's upcoming grade level below.
  
  = render :partial => 'pages/search_form'