%td.tabbable.academics.hidden.large{:width=>'70px'}
  =raw school.teachers_count.present? ? school.teachers_count : '&nbsp;'
%td.tabbable.academics.hidden.large{:width=>'70px'}
  &nbsp
%td.tabbable.academics.hidden.large{:width=>'150px'}
  =raw school.staff_to_student_ratio.present? ? school.staff_to_student_ratio : '&nbsp;'