%td.tabbable.academics.hidden.large
  =raw school.teachers_count.present? ? school.teachers_count : '&nbsp;'
%td.tabbable.academics.hidden.large
  &nbsp
%td.tabbable.academics.hidden.large
  =raw school.staff_to_student_ratio.present? ? school.staff_to_student_ratio : '&nbsp;'