%td.tabbable.admissions.hidden.large
  &nbsp;
%td.tabbable.admissions.hidden.large
  &nbsp;
%td.tabbable.admissions.hidden.large
  &nbsp;
%td.tabbable.admissions.hidden.large
  &nbsp;
%td.tabbable.admissions.hidden.large
  &nbsp;