- grade_level_admissions = school.grade_level_admissions.find_by_grade_level_id(@grade_level.id)
%td.tabbable.admissions.hidden.larger
  =raw grade_level_admissions.try(:open_seats) ? grade_level_admissions.open_seats : '&nbsp;'
%td.tabbable.admissions.hidden.larger
  =raw grade_level_admissions.try(:first_choice) ? grade_level_admissions.first_choice : '&nbsp;'
%td.tabbable.admissions.hidden.larger
  =raw grade_level_admissions.try(:second_choice) ? grade_level_admissions.second_choice : '&nbsp;'
%td.tabbable.admissions.hidden.larger
  =raw grade_level_admissions.try(:third_choice) ? grade_level_admissions.third_choice : '&nbsp;'