%td.tabbable.overview.large{:width=>'50px'}
  = school.grade_levels.short_string
%td.tabbable.overview.large{:width=>'60px'}
  =raw school.distance.present? ? "#{distance_in_miles_from_meters(school.distance)} mi." : '&nbsp;'
%td.tabbable.overview.large{:width=>'140px'}
  - if @walk_zone_schools.try(:include?, school)
    - if params[:sibling_school] == school.id.to_s 
      Sibling School
      %br/
    Walk Zone
  - if @assignment_zone_schools.try(:include?, school)
    - if params[:sibling_school] == school.id.to_s 
      Sibling School
      %br/
    Assignment Zone
  - elsif @citywide_schools.try(:include?, school)
    - if params[:sibling_school] == school.id.to_s 
      Sibling School
      %br/
    Citywide