%td.tabbable.transportation.hidden.larger
  =raw school.distance.present? ? "#{distance_in_miles_from_meters(school.distance)} <span class='small'>mi</span>" : '&nbsp;'
%td.tabbable.transportation.hidden.larger
  - if school.walking_distance.present?
    =raw "#{walk_time(school.walking_distance)} <span class='small'>min</span>"
  - else
    &nbsp;
%td.tabbable.transportation.hidden.larger
  =raw school.driving_distance.present? ? "#{drive_time(school.driving_distance)} <span class='small'>min</span>" : '&nbsp;'
%td.tabbable.transportation.hidden.large
  - if @grade_level.name == "High"
    MBTA time
  - else
    =raw school.eligibility =~ /Walk Zone/ ? '&nbsp;' : "Eligible"
  