.listings-header#yellow
  %h2== Assignment Zone Schools <span class='small nobold'>&nbsp;(#{@assignment_zone_schools.size} results)</span>
  - if params[:grade_level] == "High School"
    %p.italic== High school students may apply to any school within the Boston School District. &nbsp;The non-walk zone schools for your address are listed below.
  - else
    %p.italic== #{params[:grade_level].humanize} students may apply to any school within their assignment zone. &nbsp;Your address is located in the <strong>#{@assignment_zones.first.name} Assignment Zone</strong>, which is represented by the yellow shape on the map, above. &nbsp;The assignment zone schools for your address are listed below.
  
= render :partial => 'listings', :locals => {:schools => @assignment_zone_schools, :template => 'assignment_zones'}