%h2== Assignment Zone Schools <span class='small nobold'>&nbsp;(#{@assignment_zone_schools.size} results)</span>
%p.italic== Your address is located in the #{@assignment_zones.first.name} Assignment Zone, which contains the following #{params[:grade_level].downcase}s:
- @assignment_zone_schools.each do |school|
  .school-listing
    %h4= school.name