#favorites
  - if session[:favorites].try(:blank?)
    To create a customized list of your top schools, click to the school name and then the "Add to My Picks" button.
  - else
    %ol#favorite-list
      - for school in @favorite_schools
        %li= school.name