#favorites
  %h3.bold My Favorites
  - unless session[:favorites].try(:present?)
    To create a customized list of your top schools, click the "Add to My Picks" button in a school pop-up window.
  - else
    %ol#favorite-list
      - for school in @favorite_schools
        %li
          = school.name
          = link_to image_tag('icons/bullet_delete.png'), unfavorite_school_path(school.id, address: session[:address], zipcode: session[:zipcode], grade_level: session[:grade_level]), :remote => true, :method => :post
    = link_to "Compare", compare_schools_path(:address => params[:address], :zipcode => params[:zipcode], :grade_level => params[:grade_level]), :class => 'gray-button'