%div{:id => "favorite_button_#{school.id}"}
  - if session[:favorites].try(:include?, school.id)
    = link_to image_tag('star-gray.png', :class => 'star-icon', :id => 'unstar-button'), unfavorite_school_path(school.id, address: session[:address], zipcode: session[:zipcode], grade_level: session[:grade_level]), :remote => true, :method => :post, :class => 'gray-button', :title => 'Unfavorite'
  - else
    = link_to image_tag('star.png', :class => 'star-icon', :id => 'star-button'), favorite_school_path(school.id, address: session[:address], zipcode: session[:zipcode], grade_level: session[:grade_level]), :remote => true, :method => :post, :class => 'yellow-button', :title => 'Favorite'