%table.column-headings
  %thead
    %tr
      %th School Name
      %th{:width=>'60px'} Grades
      %th{:width=>'100px'} School Type
      - if schools.first.try(:distance).present?
        %th{:width=>'60px'} Distance
        %th{:width=>'60px'}
          - if template == "walk_zone"
            Walk Time
  - schools.each do |school|
    %table.listing
      %tr
        %td
          %h4= school.name
        %td{:width=>'60px'}
          - unless school.grades.blank?
            = school.grades
        %td{:width=>'100px'}
          - unless school.school_type.blank?
            = school.school_type.name
        - if schools.first.try(:distance).present?
          %td{:width=>'60px'}
            =raw distance(school.distance)
          %td{:width=>'60px'}
            - if template == "walk_zone"
              =raw walk_time(school.distance)