%table.listings
  %thead
    %tr
      %th School Name
      %th Grades
      %th School Type
      - if schools.first.try(:distance).present?
        %th Distance
        - if template == "walk_zone"
          %th Walk Time
  - schools.each do |school|
    %tr
      %td
        %h4= school.name
      %td
        - unless school.grades.blank?
          = school.grades
      %td
        - unless school.school_type.blank?
          = school.school_type.name
      - if schools.first.try(:distance).present?
        %td
          =raw distance(school.distance)
        - if template == "walk_zone"
          %td
            =raw walk_time(school.distance)