%table.listings
  %thead
    %tr
      %th School Name
      %th{:width=>'50px'} Grades
      %th{:width=>'60px'} Neighborhood
      %th{:width=>'60px'} Distance
      %th{:width=>'60px'} Walk Time
  %tbody
    - if @walk_zone_schools.present?
      - @walk_zone_schools.each do |school|
        = render :partial => 'listings_row', :locals => {:school => school, :type => 'walk_zone', :color => 'green'}
              
    - if @assignment_zone_schools.present?
      - @assignment_zone_schools.each do |school|
        = render :partial => 'listings_row', :locals => {:school => school, :type => 'assignment_zone', :color => 'yellow'}
    
    - if @citywide_schools.present?
      - @citywide_schools.each do |school|
        = render :partial => 'listings_row', :locals => {:school => school, :type => 'citywide', :color => 'gray'}