%table.column-headings
  %thead
    %tr
      %th{:width=>'20px'} &nbsp;
      %th School Name
      %th{:width=>'60px'} Grades
      %th{:width=>'100px'} School Type
      %th{:width=>'60px'} Distance
      %th{:width=>'60px'} Walk Time
  %tbody
    - @walk_zone_schools.each do |school|
      = render :partial => 'listing_row', :locals => {:school => school, :color => 'green'}
              
    - @assignment_zone_schools.each do |school|
      = render :partial => 'listing_row', :locals => {:school => school, :color => 'yellow'}
    
    - @citywide_schools.each do |school|
      = render :partial => 'listing_row', :locals => {:school => school, :color => 'gray'}
    