#left-column
  #left-column-nav
    = link_to "List View", schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], view: 'list'), :class => 'button'
    = link_to "Map View", schools_path(address: params[:address], zipcode: params[:zipcode], grade_level: params[:grade_level], view: 'map'), :class => 'button-active'
    
  #map-list
    %h4 Eligible Schools
    #options
      <ul id="markers_list"></ul>
#right-column
  #map-container
    = walk_zone_map