%h2== Walk Zone Schools <span class='small nobold'>&nbsp;(#{@walk_zone_schools.size} results)</span>
%p.italic== #{params[:grade_level].humanize} students have priority in the school selection process if they live within #{@walk_zone.distance} miles of a school. &nbsp;The walk zone for your address is represented by the green circle on the map, above. &nbsp;Your walk zone schools are as follows:
- @walk_zone_schools.each do |school|
  .school-listing
    %h4= school.name
%br/