%h2 Welcome to the School Discovery App
%p This tool allows parents and guardians to search for eligible schools in the Boston Public School system. &nbsp;"Eligible schools" are those schools located in either your child's Assignment Zone (North, East or West) or in your child's Walk Zone (whose size is determined by your child's grade level). &nbsp;High schools and citywide K-8 schools are open to all applicants.  &nbsp;To see your eligible schools, please enter your child's home address and upcoming grade level in the form above and click "Search".
