#left-column    
  #page
    %h1.bold
      My Favorites
    %ol.large
      - for school in @favorite_schools
        %li= school.name
    
    %br/
    %h3.bold
      = link_to "< Back to List View", schools_path(:address => params[:address], :zipcode => params[:zipcode], :grade_level => params[:grade_level])
        
  #page-footer
    = image_tag('cfa_logo.png')