%table#visible-schools.listings.sortable
  %thead
    %tr
      %th{:width=>'110px'} &nbsp;
      %th{:width=>'300px'} &nbsp;
      %th &nbsp;
      %th.tabbable.overview.sorttable_nosort{:width=>'50px'} Grades
      %th.tabbable.overview.sorttable_numeric{:width=>'70px'} Distance
      %th.tabbable.overview{:width=>'140px'} Eligibility Type
      
      %th.tabbable.transportation.hidden.sorttable_numeric{:width=>'70px'} Distance
      %th.tabbable.transportation.hidden.sorttable_numeric{:width=>'70px'} Walk Time
      %th.tabbable.transportation.hidden.sorttable_numeric{:width=>'70px'} Drive Time
      
      %th.tabbable.academics.hidden{:width=>'65px'} Teachers
      %th.tabbable.academics.hidden{:width=>'65px'} Students
      %th.tabbable.academics.hidden{:width=>'140px'} Staff-Student Ratio
      
      %th.tabbable.admissions.hidden{:width=>'70px'} Open Seats
      %th.tabbable.admissions.hidden{:width=>'70px'} 1st Choices
      %th.tabbable.admissions.hidden{:width=>'70px'} 2st Choices
      %th.tabbable.admissions.hidden{:width=>'75px'} 3rd Choices
      %th.tabbable.admissions.hidden{:width=>'70px'} Odds
      
      %th{:width=>'22px'} &nbsp;
  %tbody
    - if @visible_schools.present?
      - @visible_schools.each do |school|
        - if session[:favorites].try(:include?, school.id)
          = render :partial => 'schools/table/rows/visible_row', :locals => {:school => school, :row_classes => 'favorited'}
        - else
          = render :partial => 'schools/table/rows/visible_row', :locals => {:school => school, :row_classes => ''}
            
%table#hidden-schools.listings
  %thead
    %th
      %h2 Minimized Schools
    %th &nbsp;
  %tbody
    - if @hidden_schools.blank?
      %tr#hidden_schools_note
        %td.italic
          == Schools may be removed from the list, above, by clicking the &nbsp;#{image_tag('icons/hide-gray.png')}&nbsp; button on the right side of each listing.
    - else
      - for hidden_school in @hidden_schools
        = render :partial => 'schools/table/rows/hidden_row', :locals => {:school => hidden_school}