%table#visible-schools.listings.sortable
  %thead
    %tr
      %th{:width=>'110px'} &nbsp;
      %th.sorttable{:width=>'280px'} School Name
      %th.tabbable.overview{:width=>'165px'} Eligibility Type
      %th.tabbable.overview.sorttable_numeric Distance
      %th.tabbable.overview.sorttable Hours
      
      %th.tabbable.transportation.hidden.sorttable_numeric Distance
      %th.tabbable.transportation.hidden.sorttable_numeric Walk Time
      %th.tabbable.transportation.hidden.sorttable_numeric Drive Time
      - if @grade_level.name == "High"
        %th.tabbable.transportation.hidden.sorttable_numeric MBTA Time
      - else
        %th.tabbable.transportation.hidden.sorttable_numeric School Bus
      
      %th.tabbable.academics.hidden Teachers
      %th.tabbable.academics.hidden Students
      %th.tabbable.academics.hidden Staff : Student Ratio
      
      %th.tabbable.admissions.hidden Open Seats (2010)
      %th.tabbable.admissions.hidden 1st Choices (2010)
      %th.tabbable.admissions.hidden 2nd Choices (2010)
      %th.tabbable.admissions.hidden 3rd Choices (2010)
  %tbody
    - if @visible_schools.present?
      - @visible_schools.each do |school|
        - if school.eligibility =~ /Walk Zone/
          = render :partial => 'schools/table/rows/visible_row', :locals => {:school => school, :row_classes => 'green-highlight'}
        - elsif school.eligibility =~ /Assignment Zone/
          = render :partial => 'schools/table/rows/visible_row', :locals => {:school => school, :row_classes => 'yellow-highlight'}
        - else
          = render :partial => 'schools/table/rows/visible_row', :locals => {:school => school, :row_classes => ''}