%table#visible-schools.listings.sortable
  %thead
    %tr
      %th.icon-column &nbsp;
      %th.title-column.sorttable School Name
      %th.eligibility-column.tabbable.overview Eligibility<span id="sorttable_sortfwdind">&nbsp;▾</span>
      %th.tabbable.overview.sorttable Transit
      %th.tabbable.overview.sorttable_numeric Distance
      %th.tabbable.overview.sorttable 2011 Hours
      
      %th.tabbable.transportation.hidden.sorttable Transportation Eligibility
      %th.tabbable.transportation.hidden.sorttable_numeric Distance
      %th.tabbable.transportation.hidden.sorttable_numeric Walk Time*
      %th.tabbable.transportation.hidden.sorttable_numeric Drive Time*
      
      %th.tabbable.academics.hidden Teachers†
      %th.tabbable.academics.hidden Students†
      
      %th.tabbable.admissions.hidden Open Seats†
      %th.tabbable.admissions.hidden 1st Choices†
      %th.tabbable.admissions.hidden 2nd Choices†
      %th.tabbable.admissions.hidden 3rd Choices†
      %th.tabbable.admissions.hidden Demand†
      
      %th{:width=>'50px'} &nbsp;
      
  %tbody
    - if @all_schools.present?
      - @all_schools.each do |school|
        - if session[:favorites].try(:include?, school.id)
          = render :partial => 'schools/table/rows/visible_row', :locals => {:school => school, :row_classes => 'favorited'}
        - else
          = render :partial => 'schools/table/rows/visible_row', :locals => {:school => school, :row_classes => ''}
%span.italic.small
  * Walk times and drive times are estimates, only.
  %br/
  † Historical data are from the previous school year, unless otherwise noted.
  